/* 苹方-简 常规体 */
@font-face {
    font-family: 'MIFONT';
    src: url('./MiSans-Bold.woff2') format('woff2');
}

:root {
    --p: -40%;
    --rp: 0%;
    --color: 0.2;
    --rcolor: 1;
    --bglw: 30px;
}

/* 针对Firefox浏览器 */
scrollbar-hidden {
    scrollbar-width: none;
    /* Firefox */
}

/* 针对IE浏览器 */
scrollbar-hidden {
    -ms-overflow-style: none;
    /* IE 10+ */
}

/* 针对Chrome和Safari浏览器 */
scrollbar-hidden::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

.lyric {
    position: relative;
    width: 100%;
    height: 100vh;
    float: right;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #ffffff4a;
    padding: 0;
    margin: 0;
    /*background-image: url("./image.png");
            background-size: cover;
            background-repeat: no-repeat;
            backdrop-filter: blur(50px);*/
    overflow: hidden;
    font-family: 'MIFONT';
    user-select: none;

    /*transform: skewX(10deg) translateX(-50px) scale(0.95);*/
    transition: transform 0.5s;
}



.highlight {
    transform: translateY(-3px);
}

.lyric_item {
    font-size: 0;
    color: #ffffff4a;
    position: absolute;
    left: 10px;
    max-width: calc(100% - 10vw);
    border-radius: 20px;
    /*transition: background 0.7s, filter 0.5s, transform .8s cubic-bezier(.19, .11, 0, 1), opacity 0.5s;*/
    cursor: default;
    padding: 10px;
    opacity: 0;

    font-weight: 1000;
    overflow: visible;
    will-change: transform;
    /*transform:  translateY(var(--top));*/


}

.lyric_item:hover::before {
    opacity: 1;
    transform: scaleY(1);
    background-color: #ffffff20;
}

.lyric_item:active::before {
    transform: scaleY(0.9) scaleX(0.995);
    background-color: #ffffff10;
}

.lyric_item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    transform: scaleY(0.8);
    transition: all 0.3s;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    z-index: -1;
}

.lyric_item_scale {
    transform: scale(1.1);

}

.lyric_item .main_lrc {
    display: block;
    font-size: max(30px, 3.2vw);
    line-height: 5cqw;
    z-index: 2;
}

.lyric_item .main_lrc .char {

    display: inline-block;
    background: linear-gradient(to right, rgba(255, 255, 255, var(--rcolor)) calc(var(--p) - var(--bglw)), rgba(255, 255, 255, var(--color)) var(--p));
    background-clip: text;
    color: transparent;
    transition: transform 0.7s;
    will-change: transform;
}



.lyric_item .translation {
    font-size: 1.7cqw;
    line-height: 4cqw;
    z-index: 2;
    font-family: 'MIFONT';
    font-weight: thin;
}

.lyric_item .bg {
    font-size: 1.6cqw;
    line-height: 2.2cqw;
    opacity: 0;
    z-index: 2;
}

.lyric_item .bg .char {
    display: inline-block;
    background: linear-gradient(to right, rgba(255, 255, 255, var(--rcolor)) var(--p), rgba(255, 255, 255, var(--color)) var(--rp));
    background-clip: text;
    color: transparent;

}

.lyric_item .bg .translation {
    font-size: 1.2cqw;
    z-index: 2;
}

.lyric_item .bg {
    transform: scale(0.6) translateY(100px);
    transform-origin: 0% 0%;
    filter: blur(10px);
    transition: transform 0.5s, opacity 1s, filter 1s;
    display: none;
    z-index: 2;
}



.right .main_lrc {
    text-align: right;
    z-index: 2;
}

.right .translation {
    text-align: right;
    z-index: 2;
}

.right .bg {
    transform-origin: 100% 0%;
    z-index: 2;

}

.right .bg .text {
    text-align: right;
    z-index: 2;

}

.hl_text {
    line-height: 150%;
    display: inline-block;
    /*color: rgba(255, 255, 255, calc(var(--color) / 2));*/
    transform: scale(1);
    transition: color 0.5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 2;
    will-change: transform, filter, textShadow, color;
    transform-origin: bottom center !important;

    background: linear-gradient(to right, rgba(255, 255, 255, var(--rcolor)) calc(var(--p) - var(--bglw)), rgba(255, 255, 255, var(--color)) var(--p));
    background-clip: text;
    color: transparent;
}

/*
.hl_text::before {
    content: attr(data-text);
    position: absolute;
    color: rgba(255, 255, 255, calc(var(--color) / 2));
    filter: blur(0);
    z-index: 1;
}*/

@media screen and (max-width: 1000px) {
    .lyric_item {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .main_lrc {
        line-height: 100%;
    }
}

@media screen and (max-width: 500px) {
    .control {
        display: none !important;

    }

    .lyric {
        width: 100% !important;
    }

    .main_lrc {
        line-height: 12cqw !important;
        font-size: 9cqw !important;
    }

    .lyric_item .translation {
        font-size: 4.7cqw !important;
        line-height: 12cqw !important;
    }

    .lyric_item .bg .translation {
        font-size: 3.8cqw !important;
    }

    .lyric_item .bg {
        font-size: 5cqw !important;
        line-height: 8.2cqw !important;
    }

    .mobile-control {
        visibility: visible !important;
    }

}

.bgShow {
    transform: scale(1) translateY(0) !important;
    opacity: 1 !important;
    z-index: 2;
    filter: blur(0px) !important;
}



@keyframes lrc_heightline {
    0% {
        letter-spacing: 0px;
        text-shadow: none;
        color: #ffffff4a;
        transform: translateY(0);
    }

    50% {
        letter-spacing: 3px;
        text-shadow: 0px 0px 10px #ffffff;
        color: #ffffff;
        transform: translateY(-3px);
    }

    100% {
        letter-spacing: 0px;
        text-shadow: none;
        color: #ffffff;
        transform: translateY(0);
    }
}

audio {
    position: fixed;
    right: 10px;
    top: 0;
    z-index: 99;
}

.bgi {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    filter: blur(4.8vw) brightness(.7) contrast(.92) saturate(1.1);
    z-index: -1;
}

.bgimg {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transform: scale(1.2);
    filter: blur(90px);
}

.watting {
    display: inline-block;
    font-size: 0;
    transform-origin: center center;

    margin-top: 10px;
    margin-bottom: 10px;
}

.watting_item {
    width: 15px;
    height: 15px;
    background: #ffffff4a;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 50%;
    transition: background 2s;
}

.watting_animate_ing {
    transition: transform 0.5s;
    transform-origin: center center;
    animation: watting 5s infinite;
}

@keyframes watting {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.watting_animate_end {
    transform-origin: center center;
    transition: transform 0.5s;

    transform: scale(0);
}

.watting_highlight {
    background-color: #ffffff;

}